@import '../../constants/commonStyle.scss';

.form {
  position: relative;
  height: 100%;
  padding: 20px 30px;
  background-color: $paperYellow;
  border-top: 10px solid #ededed;
}
.titleInput {
  width: 100%;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 3rem;
}
.toolbtns {
  height: 40px;
  margin: 0 -30px;
  padding: 0 30px;
  background: #dedede;
  button {
    float: right;
    height: 100%;
    width: 40px;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    transition: all 0.1s ease;
    cursor: pointer;
    &:hover {
      background: #444;
      color: #fff;
    }
  }
}
.contentBox {
  position: absolute;
  top: 105px;
  left:0;
  bottom: 0;
  width: 100%;
  padding: 10px 30px;
  outline: 0;
  border: 0;
  font-size: 1.8rem;
  background-color: transparent;
  resize: none;
}
