@import '../../constants/commonStyle.scss';

.container {
  overflow: hidden;
  padding-bottom: 50px;
}

.form {
  margin-top: 100px;
  input {
    width: 100%;
    height: 50px;
    padding: 0 40px;
    text-align: center;
    font-size: 3rem;
    outline: none;
    border: 0;
    border-bottom: 3px dashed $mainBlue;
    &:focus {
      border-style: solid
    }
  }
  textarea {
    width: 100%;
    height: 60%;
    padding: 20px 40px;
    border: 0;
    border-bottom: 3px dashed $mainBlue;
    font-size: 3rem;
    outline: none;
    &:focus {
      border-style: solid;
    }
  }
  button {
    width: 100%;
    height: 50px;
    margin-top: 50px
  }
}
