
$cornflowerBlue: #5d9ad7;
$mainBlue: #5d9ad7;
$mainBlueL: lighten($mainBlue, 10%);
$mainBlueD: darken($mainBlue, 10%);
$cloudyBlue: #c5d0da;
$darkBlue: #163A5D;
$fontWhite: #eee;
$fontWhiteL: lighten($fontWhite, 10%);
$fontWhiteD: darken($fontWhite, 10%);
$fontBlack: #666;
$fontBlackL: lighten($fontBlack, 10%);
$fontBlackD: darken($fontBlack, 10%);
$mainGreen: #CBDB29;
$mainGreenL: lighten($mainGreen, 10%);
$mainGreenD: darken($mainGreen, 10%);
