@import '../../constants/commonStyle.scss';

.contaienr {
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  padding-left: 8rem;
  padding-bottom: 10px;
  font-size: 2rem;
  border: 0;
  outline: none;
  border-bottom: 1px dashed $cloudyBlue;
  &:focus {
    border-bottom: 1px solid $mainBlue
  }
}
.title {
  position: absolute;
  top: 3px;
  left: 0;
  font-size: 1.6rem;
  color: $mainBlueL
}
