@import '../../theme/default.less';

.hide {
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #ddd;
    font-size: 3rem;
    text-shadow: 1px 1px 3px #333,
                1px 1px 5px #fff
}
