@import '../../constants/commonStyle.scss';

.container {
  height: 100%;
}
.mainBox {
  height: 100%;
}
.blogBox {
  height: 150px;
  padding-top: 40px;
  padding-left: 40px;
  border-top: 1px dashed #ddd
}
.blogTitle {
  font-size: 3rem;
  color: #777;
  &:hover {
    color: #333
  }
}
.time {
  margin-top: 15px;
  color: #999
}
